.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   margin-top: 2rem;
   
}

.card {
    min-width: 20rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: 0 0.2rem 0.3rem rgb(104, 102, 102);
}

.intro .card:nth-child(1) {
    background: orange;
}

.intro .card:nth-child(2) {
    background: rgb(5, 114, 177);
}

.intro .card:nth-child(3) {
    background: rgb(233, 78, 7);
}

.intro .card_title {

    font-family: 'Courgette', cursive;
    font-size: 2rem;
    color: white;
    margin-top: 2%;
}

.card_desc {

  color: white;
    font-size: 1.1rem;
    padding: 1rem;
    font-family: 'Delius', cursive;
    text-shadow: 0 0 0.1rem black;
}

.card_img img {
    height: 100%;
    width: 100%;
}
.card_img{
    height: 10rem;
}