*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
/* 
font-family: 'Baloo Da 2', cursive;
font-family: 'Courgette', cursive;
font-family: 'Delius', cursive;
font-family: 'Merienda', cursive;
font-family: 'Roboto Slab', serif; */

